.wish{
    background-color: whitesmoke;
    padding: 2vw;
    border-radius: 3px;
    width: auto;
    height: auto;
    margin: 1vw;
    word-wrap: normal;
}
.wishes{
    display: flex;
    /* flex-wrap: wrap; */
}

.teacherNameContainer {
    position: relative;
    text-align: center;
    color: white;
}

.teacherNameContainer img{
    max-width: 400px;
}

.teacherNameText {
    font-family: displayFont;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 400;
    color: #ff8b1f;
}
  

@media screen and (max-width: 445px) {
    .wish{
        background-color: whitesmoke;
        padding: 1vw;
        border-radius: 3px;
        width: auto;
        height: auto;
    }
    .wishes{
        display: flex;
        flex-wrap: wrap;
    }
    
    .teacherNameContainer img{
        width: 100%;
    }
    
    .teacherNameText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: 600;
        color: #ff8b1f;
    }
}

@font-face {
    font-family:'displayFont';
	src:
		url('../../Assets/font/SVN-DessertMenuScript.woff2') format('woff2'),
		url('../../Assets/font/SVN-DessertMenuScript.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}