#container {
    display: grid;
    margin: auto;
    /* background: conic-gradient(from 180deg at 50% 53.42%, #FFD9D0 -139deg, #E6ECFE 75.79deg, #FFE2C7 136.88deg, #FFD9D0 221deg, #E6ECFE 435.79deg);;; */
    width: 60vw; 
    background-color: #ffebd0;
    border: 3px solid rgba(61, 30, 0, 0.25);
}

#formContainer {
    display: grid;
    border-radius: 0px;
    margin: 20px;
    padding: 40px 20px;
    border: 4px solid #6b5638;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    /* background-color: #E5E5E5; */
    /* width: 50vw; */
}



.form-check-inline {
    margin-right: 2px;
    
}

.form-check-input {
    border: 1px solid #C05C00;
}

.form-check-input::selection {
    border: 5px solid #C05C00;
}

.form-check-input:checked {
    background-color: #50402A;
    border: 1px solid #C05C00;
}

.formMain{
    display: grid;
    gap: 5px 10px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.decor {
    display: grid;
    justify-content: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.decorImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#TriAnText {
    font-family: displayFont;
    font-size: 60px;
    line-height: 100px;
    color: #841F33;
    text-align: center;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    margin: 0;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.form-label {
    font-family: sans-serif;
    font-size: 20px;
    color: #9f5a00;
    margin-left: 4px;
    margin-right : 4px;
    margin-bottom: 5px;
}

.formGroup {
    margin-bottom: 10px;
}

.formInputName {
    grid-column-start: 1;
    grid-column-end: 4;
}

.formInputClass {
    grid-column-start: 1;
    grid-column-end: 2;
}

.formInputYear {
    grid-column-start: 2;
    grid-column-end: 4;
}

.form-control {
    border-radius: px;
    border: 0px;
    padding: 7px 7px;
}


.form-group {
    margin-bottom: 20px;
}

.btn {
    background-color: #FF8B1F;
    border: 0px solid ;
}

.btn:hover {
    background-color: #FFB570;
}

.btn:click {
    border: 0px;
}

.select {
    border-radius: 0px;
}


.react-select-container {
    border-radius: 10px;
    border: 0px;
    padding: 2px 5px;
}

.formAnonOption-label {
    color: gray;
}

.submitButton{
    text-align: center;
    margin: auto;
    background-color: green;
}

@media screen and (max-width: 1080px) {
    .formMain{
        display: grid;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .decorImage {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #TriAnText {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #container {
        margin: auto;
        background-color: #ffebd0;
        /* background: conic-gradient(from 180deg at 50% 53.42%, #FFD9D0 -139deg, #E6ECFE 75.79deg, #FFE2C7 136.88deg, #FFD9D0 221deg, #E6ECFE 435.79deg);;; */
        width: 80vw;
        padding: 1vw;
    }

    #formContainer {
        display: grid;
        border-radius: 0px;
        margin: 20px 10px;
        padding: 40px 10px;
        /* justify-content: center; */
        align-items: center;
        /* background-color: #E5E5E5; */
        /* width: 50vw; */
    }

    .decor {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .formInputName {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .formInputYear {
        grid-column-start: 2;
        grid-column-end: 5;
    }
}

@media screen and (max-width: 480px){
    .decorImage {
        width: 128px;
    }
    #TriAnText {
        font-size: 32px;
        line-height: 50px;
    }

    .form-label {
        font-size: 16px;
    }
}

@font-face {
    font-family:'displayFont';
	src:
		url('../../Assets/font/SVN-DessertMenuScript.woff2') format('woff2'),
		url('../../Assets/font/SVN-DessertMenuScript.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}