
#form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #E5E5E5; */
    /* width: 50vw; */
    background-color: white;
    width: 60vw;
    padding: 1vw;
    border-radius: 8px;
}


.form{
    width: 100%;
}

.submitButton{
    text-align: center;
    margin: auto;
}



@media screen and (max-width: 445px) {
    #form{
        width: 100%;
    }

}